# Entorno virtual de Python
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
test.log
*.log

# Archivos de configuración de usuario de VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Chromedriver descargado
chromedriver.exe
chromedriver
chromedriver.zip
chromedriver-linux64/

# Archivos temporales
*.tmp
*.swp
